<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=35.237.79.113;Initial Catalog=TiendaVirtual;user id=sa;password=Proyecto.ude18"/>
  </connectionStrings>
</configuration>