<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TiendaVirtualEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.237.79.113;initial catalog=TiendaVirtual;persist security info=True;user id=sa;password=Proyecto.ude18;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>