<?xml version='1.0' encoding='utf-8'?>
<SettingsFile xmlns="http://schemas.microsoft.com/VisualStudio/2004/01/settings" CurrentProfile="(Default)">
  <Profiles>
    <Profile Name="(Default)" />
  </Profiles>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=35.237.79.113;Initial Catalog=TiendaVirtual;user id=sa;password=Proyecto.ude18"/>
  </connectionStrings>
</SettingsFile>
